---
layout: default
---

<div class="home">

<!-- This loops through the paginated posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h2>
            {{ post.title }}
          </h2>
        </a>

        <div class="post-content-preview">
          {{post.content | strip_html | truncate:200,'...'}}<a href="{{ post.url | prepend: site.baseurl }}>继续阅读全文 »</a>
        </div>
                
      </li>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

</div>
