---
layout: default
---

<div class="home">

<!-- This loops through the paginated posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}

    {% assign minutes = post.content | strip_html | strip_newlines | size | divided_by: 500 %}
    {% if minutes == 0 %}
    {% assign minutes = 1 %}
    {% endif %}
    <no>
      <li>
        <no>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h2>
              {{ post.title }}
            </h2>
          </a>
        </no>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %} ({{ minutes }} minute read)&nbsp;&nbsp;
        </p>

        <div class="post-content-preview">
          {{post.content | strip_html | truncate:200,'...'}} 
          <br/>
          <br/>
          <a href="{{ post.url}}">继续阅读全文 »</a>
          <br/>
          <br/>
        </div>
      </li>
    </no>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

</div>
