---
layout: default
---

{% for post in site.posts limit:1 %}

  {% assign minutes = post.content | strip_html | strip_newlines | size | divided_by: 500 %}
  {% if minutes == 0 %}
  {% assign minutes = 1 %}
  {% endif %}
  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    <h2>
      {{ post.title }}
    </h2>
  </a>
  <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %} ({{ minutes }} minute read)&nbsp;&nbsp;
  </p>

  {{ post.excerpt }} 
  <p>
    <a href="{{ post.url}}">继续阅读全文 »</a>
  </p>
{% endfor %}

<br/>

<h3>最新文章</h3>
{% for post in site.posts offset:1 limit:7 %}
<li>{{ post.date | date:"%b %-d, %Y" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
<li><a href="/archive/">更多文章......</a></li>
