---
layout: default
---
<!--{% assign sorted_gallery = site.photo_gallery | sort: 'weight' %}-->
<!--<ul class="photo-gallery">-->
  <!--{% for images in sorted_gallery %}-->
    <!--<h2 class="post-title">{{ images.date | date: "%b %d %Y" }} {{ images.title }}</h2>-->
    <!--{% for image in images.images %}-->
      <!--<li>-->
        <!--<a href="{{ image.link }}">-->
          <!--<img src="{{ image.image_path }}" alt="{{ image.title }}">-->
        <!--</a>-->
      <!--</li>-->
    <!--{% endfor %}-->
  <!--{% endfor %}-->
<!--</ul>-->


<div class="home">

<!-- This loops through the paginated posts -->
{% paginate site.photo_gallery as photos limit:5 %}
{% assign sorted_gallery = site.photo_gallery | sort: 'weight' %}
<ul class="post-list">
  {% for post in photos %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      {% for image in post.images %}
        <li>
          <a href="{{ image.link }}">
            <img src="{{ image.image_path }}" alt="{{ image.title }}">
          </a>
        </li>
      {% endfor %}

    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
{% endpaginate %}

</div>
