---
layout: default
title: Photos
---

<h1>{{ page.title }}</h1>
<p>&nbsp;</p>

<div class="home">
  <ul class="post-list">
    {% for photo in site.photos reversed %}
      <li>
        <span class="post-meta">{{ photo.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ photo.url | prepend: site.baseurl }}">{{ photo.title }}</a>
        </h2>
        <ul class="photo-gallery">
          {% for image in photo.images %}
            <li>
            <img src="{{ image.image_path }}" alt="{{ image.title}}"/>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
