<form class="js-form form" method="post" action="{{ site.staticmanUrl }}" autocomplete="off">
    <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
    <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
    <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">

  
    <fieldset>
    <div class="textfield">
      <label for="comment-form-message"><h2>我要发表看法 <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">(取消发表)</a></small></h2>
        <textarea class="textfield__input" name="fields[message]" type="text" id="comment-form-message"></textarea>
        <p>支持 Markdown</p>
      </label>
    </div>
    </fieldset>
  
    <fieldset>
      <div class="textfield">
        <label for="comment-form-name">Name
          <input class="textfield__input" name="fields[name]" type="text" id="comment-form-name" placeholder="Your name"/>
        </label>
      </div>
    </fieldset>
  
    <fieldset>
      <div class="textfield">
        <label for="comment-form-email">E-mail
          <input class="textfield__input" name="fields[email]" type="email" id="comment-form-email" placeholder="Your email (optional, used only to send comments.)"/>
      </div>
    </fieldset>
  
    <fieldset>
      <button class="button">
        发表
      </button>
    </fieldset>
  </form>