<section class="comments">

  <p>site.data.comments[post_slug] - {{ site.data.comments[post_slug]}} </p>

  <p>site.data.comments.香港中文大学校长：如何不负此生 - {{ site.data.comments.香港中文大学校长：如何不负此生 }} </p>

  <p>site.data.comments.香港中文大学校长：如何不负此生.size - {{ site.data.comments.香港中文大学校长：如何不负此生.size }} </p>

  <p>site.data.comments[0] - {{ site.data.comments[0] }} </p>
  

  <p>post_slug = {{ post_slug }}</p>

  {% if site.data.comments %}

    Comments : {{ site.data.comments[post_slug].size }}
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
</section>