<form id="comment-form" class="js-form form" method="post" action="{{ site.staticmanUrl }}" autocomplete="off">
    <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
    <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
    <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">

  
    <fieldset>
    <div class="textfield">
      <label for="comment-form-message"><h2>我要发表看法 <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;"> 取消回复</a></small></h2>
        <textarea class="textfield__input" name="fields[message]" type="text" id="comment-form-message" rows="10" required spellcheck="true"></textarea>
        <p><text style="color:gray">支持 Markdown</text></p>
      </label>
    </div>
    </fieldset>
  
    <fieldset>
      <div class="textfield">
        <label for="comment-form-name">
          <p>你的大名：</p>
          <input class="textfield__input" name="fields[name]" type="text" id="comment-form-name" placeholder="" required spellcheck="false" size="30"/>
        </label>
      </div>
    </fieldset>
  
    <fieldset>
      <div class="textfield">
        <label for="comment-form-email">
          <p>电子邮件：</p>
          <input class="textfield__input" name="fields[email]" type="email" id="comment-form-email" placeholder="选填（不公开）" size="30"/>
      </div>
    </fieldset>
 
    <!-- Start comment form alert messaging -->
    <div class="hidden js-notice notice">
      <p class="js-notice-text"></p>
    </div>
    
    <fieldset>
      <button class="button" id="comment-form-submit">
        发表
      </button>
    </fieldset>
  </form>