---
layout: default
---

<!-- comments -->
{% capture post_slug %}{{ page.layout }}-{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}-{{ page.date | date: "%H" }}-{{ page.date | date: "%M" }}{% endcapture %}
{% if page.comments_status %}
  {% capture comments_status %}{{ page.comments_status }}{% endcapture %}
{% else %}
  {% assign comments_status = "open" %}
{% endif %}

{% capture post_date %}{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日{% endcapture %}

<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</header>

<article class="post-content" id="alpha">
  {{ content }}

  {% include post-info.html %}

  <div id="post-nav" class="clearfix nav-slide">
      <div class="work">
          {% if page.previous %}
          <a class="prev" href="{{page.previous.url}}">
              <span class="slide-wrap">&lt; 上一篇：{{page.previous.title}}</span>
          </a>
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          {% if page.next %}
          <a class="next" href="{{page.next.url}}">
              <span class="slide-wrap">下一篇：{{page.next.title}} &gt;</span>
          </a>
          {% endif %}
      </div>
  </div>
 </article>
