---
layout: default
---
<style>
  bg {
    background-color: #f5f5d5;
  }
</style>
<div class="post" id="bg">

  {% assign minutes = content | strip_html | strip_newlines | size | divided_by: 500 %}
  {% if minutes == 0 %}
  {% assign minutes = 1 %}
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} ({{ minutes }} minute read)&nbsp;&nbsp;
    <span class="post-categories">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% if categories %}
      Categories:
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
