---
layout: default
---
<div class="post" id="content">

  <!-- {% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %} -->

  {% capture post_slug %}{{ page.layout }}-{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}-{{ page.date | date: "%H" }}-{{ page.date | date: "%M" }}{% endcapture %}
  {% if page.comments_status %}
    {% capture comments_status %}{{ page.comments_status }}{% endcapture %}
  {% else %}
    {% assign comments_status = "open" %}
  {% endif %}

  {% capture post_date %}{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日{% endcapture %}

  {% assign minutes = content | strip_html | strip_newlines | size | divided_by: 500 %}
  {% if minutes == 0 %}
  {% assign minutes = 1 %}
  {% endif %}

  {% for c in site.posts reversed %}
  {% if c.title == page.title %}
    {% assign thisPost = c %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% else %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 1 %}
    {% endif %}
  {% endif %}
  {% endfor %}

  {% for c in site.posts reversed %}
    {% if c.title == page.title %}
      {% assign prevflag = 0 %}
    {% endif %}
    {% if prevflag == 1 %}
      {% assign prevPost = c %}
      {% assign page.previous = c %}
    {% endif %}
  {% endfor %}

  {% if nextflag == 1 %}
    {% for c in site.posts reversed %}
      {% if foundPost == 1 %}
        {% assign getNext = 1 %}
      {% endif %}
      {% if c.title == page.title %}
        {% assign foundPost = 1 %}
      {% endif %}
      {% if getNext == 1%}
        {% assign nextPost = c %}
        {% assign page.next = c %}
        {% assign foundPost = 0 %}
        {% assign getNext = 0 %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} ({{ minutes }} minute read)&nbsp;&nbsp;
    <span class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% if categories.size > 0 %}
      分类:
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/category/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>
    &nbsp;&nbsp;
    <span class="post-tags">
      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
      {% if tags.size > 0 %}
      标签:
      {% endif %}
      {% for tag in tags %}
      <a href="{{site.baseurl}}/tag/#{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>   
    </p>
  </header>

  <article class="post-content" id="alpha">
    {{ content }}

    {% include post-info.html %}

    <div id="post-nav" class="clearfix nav-slide">
        <div class="work">
            {% if prevPost.url %}
            <a class="prev" href="{{prevPost.url}}">
                <span class="slide-wrap">&lt; 上一篇：{{prevPost.title}}</span>
            </a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if nextPost.url %}
            <a class="next" href="{{nextPost.url}}">
                <span class="slide-wrap">下一篇：{{nextPost.title}} &gt;</span>
            </a>
            {% endif %}
        </div>
    </div>

    <ul id="random-posts"></ul>

    {% if page.comments == true %}
      {% include comments.html %}
    {% endif %}

  </article>

</div>
