---
layout: default
---
<div class="post" id="content">

  <!-- {% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %} -->

  {% capture post_slug %}{{ page.layout }}-{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}-{{ page.date | date: "%H" }}-{{ page.date | date: "%M" }}{% endcapture %}
  {% if page.comments_status %}
    {% capture comments_status %}{{ page.comments_status }}{% endcapture %}
  {% else %}
    {% assign comments_status = "open" %}
  {% endif %}

  {% capture post_date %}{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日{% endcapture %}

  {% assign minutes = content | strip_html | strip_newlines | size | divided_by: 500 %}
  {% if minutes == 0 %}
  {% assign minutes = 1 %}
  {% endif %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} ({{ minutes }} minute read)&nbsp;&nbsp;
    <span class="post-categories">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% if categories.size > 0 %}
      分类:
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/category/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>
    &nbsp;&nbsp;
    <span class="post-tags">
      {% if post %}
      {% assign tags = post.tags %}
      {% else %}
      {% assign tags = page.tags %}
      {% endif %}
      {% if tags.size > 0 %}
      标签:
      {% endif %}
      {% for tag in tags %}
      <a href="{{site.baseurl}}/tag/#{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>   
    </p>
  </header>

  <article class="post-content" id="alpha">
    {{ content }}

    {% include post-info.html %}

    {% if page.comments == true %}
      {% include comments.html %}
    {% endif %}

  </article>

</div>
