---
layout: default
---

<!-- comments -->
{% capture post_slug %}{{ page.layout }}-{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}-{{ page.date | date: "%H" }}-{{ page.date | date: "%M" }}{% endcapture %}
{% if page.comments_status %}
  {% capture comments_status %}{{ page.comments_status }}{% endcapture %}
{% else %}
  {% assign comments_status = "open" %}
{% endif %}

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">
        {% if page.previous %}
        <a class="prev" href="{{page.previous.url}}">
            <span class="slide-wrap">&lt; {{ page.previous.excerpt | strip_html | truncate: 10, '…'}}</span>
        </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if page.next %}
        <a class="next" href="{{page.next.url}}">
            <span class="slide-wrap">{{ page.next.excerpt | strip_html | truncate: 10, '…'}} &gt;</span>
        </a>
        {% endif %}
    </div>
</div>

<header class="post-header">
</header>

<article class="post-content" id="alpha">
  {{ content }}
 </article>
